<div class="head-page" *ngIf="identity">
	<h1>{{titulo}}</h1>

	<a [routerLink]="['/crear-cliente']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" class="btn btn-default">
		Añadir cliente
	</a>

	<ul class="pagination pull-right">
		<li><a [routerLink]="['/clientes', prev_page]">&laquo;</a></li>
		<li><a [routerLink]="['/clientes', next_page]">&raquo;</a></li>
	</ul>
</div>

<div class="clearfix"></div>
<table class="col-lg-12">
	<caption>Datos Personales</caption>
	<tr>
        <td class="texto-izq">
        	<h2>Apellido</h2>
        </td>
        <td class="texto-izq">
        	<h2>Nombre</h2>
        </td>
        <td class="texto-cent">
        	<h2>Telefono</h2>
        </td>
        <td class="texto-cent">
        	<h2>Dni</h2>
        </td>
        <td class="texto-izq">
        	<h2>Email</h2>
        </td>
    </tr> 
    <tr *ngFor="let client of clients">
        <td class="texto-izq">
        	{{client.surname}}
        </td>
        <td class="texto-izq">
        	{{client.name}}
        </td>
        <td class="texto-cent">
        	{{client.phone}}
        </td>
        <td class="texto-cent">
        	{{client.dni}}
        </td>
        <td class="texto-izq">
        	{{client.email}}
        </td>
        <td *ngIf="identity.role == 'ROLE_ADMIN'" >
            <a [routerLink]="['/editar-cliente', client._id]" class="glyphicon glyphicon-pencil"></a>
        </td>
        <td *ngIf="identity.role == 'ROLE_ADMIN'">
            <a (click)="onDeleteConfirm(client._id)" class="glyphicon glyphicon-remove"></a>
            <div class="seguro" *ngIf="confirmado == client._id">
            <a (click)="onDeleteClient(client._id)" class="btn btn-sm btn-danger">
                Eliminar
            </a>
            <a (click)="onCancelClient()" class="btn btn-sm btn-primary">
                Cancelar
            </a>
        </div>
        </td>
    </tr> 
 </table>

