<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
	<h1>{{titulo}}</h1>

	<div *ngIf="alertMessage">
			<div class="alert alert-info">
			  {{alertMessage}}
			</div>
	</div>

	<form #formClient="ngForm" (ngSubmit)="onSubmit()">
		<p>
			<label>Nombres</label>
			<input type="text" #name="ngModel" name="name" [(ngModel)]="client.name" required class="form-control"/>
			<span *ngIf="!name.valid && name.touched">
				El nombre es obligatorio
			</span>
		</p>

		<p>
			<label>Apellidos</label>
			<input type="text" #surname="ngModel" name="surname" [(ngModel)]="client.surname" required class="form-control"/>
			<span *ngIf="!surname.valid && surname.touched">
				Los Apellidos son obligatorios
			</span>
		</p>

		<p>
			<label>Telefono</label>
			<input type="text" #phone="ngModel" name="phone" [(ngModel)]="client.phone" required class="form-control"/>
			<span *ngIf="!phone.valid && phone.touched">
				El telefono es obligatorio
			</span>
		</p>

		<p>
			<label>DNI</label>
			<input type="text" ng-maxlength="8" #dni="ngModel" name="dni" [(ngModel)]="client.dni" required class="form-control"/>
			<span *ngIf="!dni.valid && dni.touched">
				El dni es obligatorio
			</span>
		</p>

		<p>
			<label>Email</label>
			<input type="email" #email="ngModel" name="email" [(ngModel)]="client.email" required class="form-control"/>
			<span *ngIf="!email.valid && email.touched">
				El email es obligatorio
			</span>
		</p>

		<input type="submit" value="{{titulo}}" [disabled]="!formClient.form.valid" class="btn btn-success" />
	</form>
</div>

<div class="col-lg-6" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
	<h1>Error</h1>
	<p>No tienes acceso a esta parte de la aplicación</p>
</div>