/*GLOBAL*/

html, body{
	margin: 0px;
	height: 100%;
	background: #eee;
}

.actived{
	border-bottom: 4px solid #84BD00;
	padding-bottom: 4px;
}

.central{
	height: 100%;
	overflow-y: scroll;
}

.seguro{
	margin-top: -30px;
	background: #222326;
	position: absolute;
	height: 40px;
}

.seguro-album{
	margin-top: -41px;
	margin-left: 10px;
}

.seguro-song{
	right: 10px;
	margin-top: -35px;
	background: #eee;
}

/*BARRA LATERAL*/

.head-title{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

.navigation{
	text-align: center;
	color: white;
	background: #1C1C1F;
	height: 100%;
}

.navigation  a{
	color: #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}

.navigation  a:hover{
	color: white;
}

.navigation  .glyphicon{
	font-size: 25px;
	display: block;
	width: 100%;
}

#user_logged{
	text-decoration: center;
	background: #1C1C1F;
	position: absolute;
	bottom: 0px;
	border-top: 1px solid #444;
	width: 75%;
}

#user_logged .user-image{
	background: #eee;
	border-radius: 100px;
	height: 57px;
	width: 57px;
	margin: 0px auto;
	margin-top: 15px;
	overflow: hidden;
}

#user_logged .user-image img{
	width: 57px;
}

.btn-logout{
	cursor: pointer;
}

/* CLIENTES */

table{ 
	 color: #333; 
	 font-family: Helvetica, Arial, sans-serif;
	 width: 640px; 
	 border-collapse: collapse;
}

td, th{ 
 	border: 1px solid transparent;
 	height: 30px; 
 }

th{ 
	background: #D3D3D3; 
	font-weight: bold; 
}

td{ 
	background: #FAFAFA; 
}

.texto-izq{
	text-align: left;
}

.texto-cent{
	text-align: center;
}

tr:nth-child(even) td{ 
	background: #F1F1F1;
}  

tr:nth-child(odd) td{ 
	background: #FEFEFE;
} 

.glyphicon-pencil{
	color:green;
}

.glyphicon-remove{
	color:red;
}

.seguro{
	margin-top: -25px;
    margin-right: -108px;
    height: 0px;
    margin-left: -107px;
}
